@import "typo/webfonts.css";
@import "components/heading.css";
@import "components/pattern.css";

@tailwind base;
@tailwind components;
@tailwind utilities;

body {
  @apply antialiased font-regular text-base lg:text-md xl:text-lg leading-5 lg:leading-6 text-olive flex min-h-full flex-col overflow-y-scroll;
}

main {
  @apply flex-1;
}

p {
  @apply mb-16 lg:mb-20;
}

p:last-of-type {
  @apply mb-0;
}

strong {
  @apply font-semi font-semibold;
}

main ul {
  @apply m-0 p-0 mb-16 lg:mb-20;
}

main ul:last-child {
  @apply mb-0;
}

main ul li {
  @apply list-item list-disc ml-20;
}

.marker {
  background-image: url('../icons/marker.svg');
  background-size: contain;
  background-repeat: no-repeat;
  cursor: pointer;
  height: 50px;
  width: 40px;
}

.fancybox__backdrop {
  @apply !bg-olive bg-opacity-80;
}

.fancybox__toolbar {
  @apply !p-16;
}

.fancybox__content {
  @apply !px-4 md:!px-12 lg:!px-24 xl:!px-48
}

.fancybox__nav .f-button,
.fancybox__toolbar .f-button {
  @apply !bg-transparent !border-none !p-0 h-24 w-24;
}

.fancybox__nav .f-button svg,
.fancybox__toolbar .f-button svg {
  @apply text-white;
}